body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}
  
/* HEADER */
  
header {
    background-color: #243346;
    display: flex;
    flex-direction: column;
    height: 146px;
}
  
header h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}
  
.menu-usuario{
    display: flex;
    padding: 8px;
}
  
.menu-usuario button{
    background-color: #243346;
    border: none;
    color: white;
    cursor: pointer;
}
  
.menu-usuario button:hover{
    background-color: #243346;
    border: none;
    color: #9cb2c7;
    cursor: pointer;
}
  
.menu-usuario i{
    font-size: 25px;
}
  
/* CONTENEDOR */

.contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
    padding: 2rem;
    justify-content: center;
}


/* CARTA COMANDA COCINA */

.carta-comanda-cocina{
    display: flex;  
    flex-direction: column;
    height: 400px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    align-items: center;
    justify-content: space-between;
}

/* INFORMACIÓN DEL PEDIDO */

.info-pedido-cocina{
    display: flex;
    background-color: #243346;
    height: 80px;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-radius: 12px 12px 0px 0px;
    width: 100%;
}

/* MESA Y PEDIDO  */

.info-pedido-cocina-izquierda{
    display: flex;
    flex-direction: column;
}

.info-pedido-cocina-izquierda h1{
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-pedido-cocina-izquierda h2{
    font-size: 16px;
    color: white;
    font-weight: normal;
    margin: 0px;
}

/* HORA Y GARZON */

.info-pedido-cocina-derecha{
    display: flex;
    flex-direction: column;
}

.info-pedido-cocina-derecha h1{
    font-size: 16px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-pedido-cocina-derecha h2{
    font-size: 16px;
    color: white;
    font-weight: normal;
    margin: 0px;
}

/* PEDIDO COMANDA */

.productos-comanda {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 22px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.productos-comanda p{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}

/* BOTON ENTREGAR */

.btn-entregar-comanda{
    background-color: #243346;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    width: 160px;
    margin-bottom: 20px;
    height: 60px;
}

.btn-entregar-comanda:hover{
    background-color: #9cb2c7;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    width: 160px;   
    margin-bottom: 20px;
    height: 60px;
}

/* MENÚ HAMBURGUESA */

#sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  width: 250px;
  background-color: #ffffff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.15);
  z-index: 2000;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sidebar.mostrar {
  left: 0;
}

.sidebar-usuario {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  column-gap: 15px;
}

.sidebar-usuario-icono {
  background-color: #243346;
  height: 56.8px;
  width: 56.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.sidebar-usuario i {
  background-color: #243346;
  color: white;
  font-size: 30px;
}

.siderbar-usuario-datos h1 {
  font-size: 17px;
  font-weight: bold;
  cursor: default;

}

.siderbar-usuario-datos h2 {
  font-size: 16px;
  cursor: default;
}

.sidebar-salir {
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.sidebar-salir button {
  background-color: white;
  border: none;
  display: flex;
  column-gap: 27px;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 40px;
}

.sidebar-salir button:hover {
  background-color: #9cb2c7;
  color: white;
}

/* CONFIRMACIÓN VISUAL DE LA COMANDA ENVIADA A GARZÓN */

.overlay-comanda{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.45);
  z-index:9999;
  display:flex;
  align-items:center;
  justify-content:center;
}

.overlay-box{
  background:#fff;
  padding:2rem 2.5rem;
  border-radius:14px;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:1rem;
  box-shadow:0 10px 25px rgba(0,0,0,.25);
}

.overlay-comanda.oculto{display:none;}

.oculto {
  display: none;
}

.overlay-comanda img{width:120px;}

.overlay-comanda h2{
  font-size:20px;
  font-weight:700;
  color:#000;
  margin:0;
  display:flex;
  align-items: center;
  gap:2px;
}

/* ERROR AL ENTREGAR COMANDA */

.overlay-comanda-1{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.45);
  z-index:9999;
  display:flex;
  align-items:center;
  justify-content:center;
}

.overlay-box-1{
  background:#fff;
  padding:2rem 2.5rem;
  border-radius:14px;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:1rem;
  box-shadow:0 10px 25px rgba(0,0,0,.25);
}

.overlay-comanda-1.oculto{display:none;}

.overlay-comanda-1 img{width:120px;}

.overlay-comanda-1 h2{
  font-size:20px;
  font-weight:700;
  color:#000;
  margin:0;
  display:flex;
  align-items: center;
  gap:2px;
}

#cerrar-overlay-1{
  background-color: #bb2633;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-weight: bolder;
}

#cerrar-overlay-1:hover{
background-color: #76121c;
}

/* ERROR DE CONEXIÓN AL ENTREGAR LA COMANDA  */

.overlay-comanda-2{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.45);
  z-index:9999;
  display:flex;
  align-items:center;
  justify-content:center;
}

.overlay-box-2{
  background:#fff;
  padding:2rem 2.5rem;
  border-radius:14px;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:1rem;
  box-shadow:0 10px 25px rgba(0,0,0,.25);
}

.overlay-comanda-2.oculto{display:none;}

.overlay-comanda-2 img{width:120px;}

.overlay-comanda-2 h2{
  font-size:20px;
  font-weight:700;
  color:#000;
  margin:0;
  display:flex;
  align-items: center;
  gap:2px;
}

#cerrar-overlay-2{
  background-color: #bb2633;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-weight: bolder;
}

#cerrar-overlay-2:hover{
background-color: #76121c;
}
